common --enable_bzlmod

# SEE: https://github.com/aspect-build/toolchains_protoc/blob/31013b176dcb8ed7c86c9b629fe89965aafcc6c4/README.md
# Enables toolchain support.
# Introduced in Bazel 7.
# This also allows us to register toolchains other than com_google_protobuf targets.
common --incompatible_enable_proto_toolchain_resolution

# SEE: https://github.com/bazel-contrib/bazel-lib/blob/0f5e1dcafd5a27b8ed6ba9805b6d3f59ab8307aa/docs/stamping.md
# This tells Bazel how to interact with the version control system
# Enable this with --config=release
build:release --stamp --workspace_status_command=./scripts/bazel_stamp_vars.sh
