common --enable_bzlmod

# SEE: https://github.com/aspect-build/toolchains_protoc/blob/31013b176dcb8ed7c86c9b629fe89965aafcc6c4/README.md
# Enables toolchain support.
# Introduced in Bazel 7.
# This also allows us to register toolchains other than com_google_protobuf targets.
common --incompatible_enable_proto_toolchain_resolution

build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17
