# fly.toml app configuration file generated for fjarm-helloworld on 2024-07-18T10:32:51-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fjarm-helloworld-dev'
primary_region = 'ewr'

[build]
  image = 'veganafro/helloworld:dev'

[env]
  PORT = '8000'

[[services]]
  protocol = 'tcp'
  internal_port = 8000

  [[services.ports]]
    port = 443
    handlers = ['tls']

    [services.ports.tls_options]
      alpn = ['h2']

    [services.ports.http_options]
      h2_backend = true

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
