name: Android emulator test PR checks
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
    paths:
      - "android/**"
  pull_request:
    paths:
      - "android/**"
defaults:
  run:
    working-directory: ./android
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [31, 36]
    steps:
      - uses: actions/checkout@v4
        name: checkout

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - uses: actions/setup-java@v5
        name: Set up JDK 21
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - uses: gradle/actions/setup-gradle@v3
        name: Gradle cache
        
      - uses: actions/cache@v4
        name: AVD cache
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - uses: reactivecircus/android-emulator-runner@v2
        name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - uses: reactivecircus/android-emulator-runner@v2
        name: run tests
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedAndroidTest
