name: Fly Deploy
on:
  workflow_dispatch:
    inputs:
      module:
        description: 'API service to deploy'
        required: true
        type: choice
        options:
          - ./api/deployment/helloworld
      image:
        description: 'API image version to deploy'
        required: true
        type: choice
        options:
          - veganafro/helloworld
      version:
        description: 'API service version to deploy'
        required: true
        type: string
jobs:
  deploy:
    name: Deploy to Fly.io
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
        name: Checkout repo
      - uses: superfly/flyctl-actions/setup-flyctl@master
        name: Install Fly.io CLI
        with:
          version: v0.2.91
      - name: Deploy specified service
        working-directory: ${{ inputs.module }}
        run: |
          flyctl deploy --remote-only --image ${{ inputs.image }}:${{ inputs.version }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
