name: GitHub Container Registry push
on:
  workflow_dispatch:
    inputs:
      module:
        description: 'Bazel module containing an oci_push target to build and push'
        required: true
        type: choice
        options:
          - helloworld
env:
  REGISTRY: ghcr.io
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      # Run `git checkout`
      - uses: actions/checkout@v4
        name: Checkout repo
      # Log in to the `docker` CLI
      - uses: docker/login-action@v3
        name: Log in to the container registry
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: bazel-contrib/setup-bazel@0.18.0
        name: Install Bazel CLI
        with:
          # Avoid downloading Bazel every time
          bazelisk-cache: true
          bazelisk-version: 1.x
          # Share a single disk cache across workflows
          disk-cache: true
          # Enable external repositories caches
          external-cache: true
          # Store a single repository cache
          repository-cache: true
      - name: Build all targets under api
        run: |
          bazel build //api/...
      - name: Test all targets under api
        run: |
          bazel test //api/...
      - name: Run oci_push target
        run: |
          bazel run $(bazel query 'attr(name, ${{inputs.module}}_push, //...)') --config=release
