name: Go PR checks
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
    paths:
      - "api/**"
  pull_request:
    paths:
      - "api/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Run `git checkout`
      - uses: actions/checkout@v4
        name: Checkout repo
      - uses: bazel-contrib/setup-bazel@0.18.0
        name: Install Bazel CLI
        with:
          # Avoid downloading Bazel every time
          bazelisk-cache: true
          bazelisk-version: 1.x
          # Share a single disk cache across workflows
          disk-cache: true
          # Enable external repositories caches
          external-cache: true
          # Store a single repository cache
          repository-cache: true
      - name: Build all targets under api
        run: |
          bazel build //api/...
      - name: Test all targets under api
        run: |
          bazel test //api/...
      - name: Run go vet
        run: |
          bazel run @rules_go//go -- vet ./...
